div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header.navbar-brand Calories management

    div.navbar-collapse.collapse
      form.navbar-form.navbar-right(*ngIf="authorizedUser", (ngSubmit)="logout()")
        button.btn.btn-primary(type="submit") Logout
